.orange-icon {
    color:  rgb(185, 59, 30); 
  }
  .orange-button {
    background-color: rgb(185, 59, 30); /* Màu nền cam */
    color: white; /* Màu chữ trắng */
    border: none;
    padding: 6px 60px;
    cursor: pointer;
  }
  .custom-section {
    background-color: red;
    color: white;
  }
  .divider {
    border-top: 1px solid black;
    margin: 20px 0;
  }
  .card-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
  }
  /* Căn giữa các dòng chữ */
  .card-overlay p {
    margin: 0;
  }
  .orange-section{
    background-color:rgb(185, 59, 30); 
  }
  .white-button {
    background-color:darkred; /* Màu nền cam */
    color: white; /* Màu chữ trắng */
    border: none;
    padding: 6px 60px;
    cursor: pointer;}
    
    .wider-image {
      margin: -5px;
    }